<%- include("partials/header.ejs") %>

<div class="container pt-5 mt-5">
    <!-- <div class="row">
        <div class="col-lg-6">
            <div class="section-title">
                <h2>Love to connect!</h2>
                <p>This Blog Post Project - <span class="fw-bold">SimplyPress</span> is made with EJS, CSS, Bootstrap and Javascript to test my knowledge and capabilities.</p>
            </div>
        </div>
    </div> -->
    <div class="section-title text-center">
        <h1 class="display-4 fw-bold text-body-emphasis">Love to connect!</h1>
        <p>This Blog Post Project - <span class="fw-bold">SimplyPress</span> is made with HTML/EJS, CSS, Bootstrap, Express.js and Javascript. It is made to test and challenge my stack knowledge and understanding.</p>
    </div>					
    <div class="row justify-content-sm-center">
        <div class="col-lg-4 text-center">
            <div class="single_address">
                <a href="https://www.linkedin.com/in/brendantwz/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <h4>Check my LinkedIn</h4>
            </div>
        </div>
        <div class="col-lg-4 text-center">
            <div class="single_address">
                <a href="mailto:brendan_twz@hotmail.com"><ion-icon name="mail-outline"></ion-icon></a>
                <h4>Send your Message</h4>
            </div>
        </div>
        <div class="col-lg-4 text-center">            
            <div class="single_address">
                <a href="https://github.com/Brendantwz"><ion-icon name="logo-github"></ion-icon></a>
                <h4>Check my Github</h4>
            </div>	
        </div>
    </div><!--- END COL --> 
</div>

<%- include("partials/footer.ejs") %>